/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/helvetica-neue-5-cdnfonts/HelveticaNeueMedium.otf);
}

@font-face {
  font-family: "cera-round-pro-beta";
  src: url(../fonts/cera-round-pro-demo-cdnfonts/CeraRoundProDEMOLight.otf);
}

:root {
  --white-text-color: #f8f3f3;
  --dark-text-color: #183153;
  --bold-text: 900;
  --heading-font-size: 18px;
  --text-normal-size: 14px;
  --font-text: "cera-round-pro-beta";
  --font-heading: "Helvetica Neue";
}
body {
  margin: 0;
  background-color: #0f2546;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0b1b34;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#download-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid white;
}
.store p {
  margin: 0 5px;
  font-family: var(--font-text);
}
nav {
  text-align: center;
  margin: 20px;
}

nav a {
  font-family: var(--font-text);
  color: var(--white-text-color);
  font-size: var(--text-normal-size);
  text-decoration: none;
  margin-right: 15px;
}
nav a:hover {
  font-weight: var(--bold-text);
  text-decoration: underline;
  -webkit-text-decoration-color: #e4e437;
          text-decoration-color: #e4e437;
}

#slider-container {
  width: 100%;
  height: 400px;
  background-color: black;
}
.slider {
  width: 700px;
  height: 400px;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
}
.image-container {
  width: 2100px;
  background-color: pink;
  height: 400px;
  clear: both;
  position: relative;
  -webkit-transition: left 5s;
  -o-transition: left 5s;
  transition: left 5s;
}
.slide {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 700px;
  height: 400px;
}

#slide-1:target ~ .image-container {
  left: 0px;
}
#slide-2:target ~ .image-container {
  left: -700px;
}
#slide-3:target ~ .image-container {
  left: -1400px;
}
.buttons {
  position: relative;
  top: -30px;
}
.buttons a {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: lightgreen;
}

#content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

#text-content {
  margin: 20px;
  width: 50%;
  font-family: var(--font-text);
  color: var(--white-text-color);
}
#text-content::first-line {
  color: #8de8f0;
}
#myname {
  display: block;
  margin-bottom: 5px;
}
#myname::first-letter {
  color: #8df09f;
}

aside {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

aside > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

aside > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

aside > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

#div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

#div2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}
#div3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
}

aside p {
  font-family: var(--font-text);
  font-size: var(--text-normal-size);
  color: var(--white-text-color);
}

aside h3 {
  font-family: var(--font-heading);
  font-size: var(--heading-font-size);
  color: var(--white-text-color);
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(10, 10, 84);
}

#footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 50px;
  border-bottom: 1px solid white;
}
#footer-top h1 {
  color: var(--white-text-color);
  font-family: var(--font-heading);
  font-size: var(--heading-font-size);
}
#footer-top h1::first-letter {
  color: #e4e437;
}
#icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#icons span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}
#icons i {
  color: var(--white-text-color);
}
#mid-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.footer-collumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
}

#mid-footer a {
  text-decoration: none;
  color: var(--white-text-color);
  padding: 2px;
  font-family: var(--font-text);
  font-size: var(--text-normal-size);
}
.useful-links {
  color: var(--white-text-color);
  font-weight: var(--bold-text);
  text-decoration: underline;
  text-underline-offset: 20%;
  padding: 10px 0;
  font-family: var(--font-text);
  font-size: var(--text-normal-size);
}

input {
  background-color: rgb(10, 10, 84);
  padding: 5px 10px;
  border: 1px solid rgb(195, 213, 228);
  margin-bottom: 10px;
  font-family: var(--font-text);
  font-size: var(--text-normal-size);
  color: var(--white-text-color);
}

button {
  padding: 5px 47px;
  border: 1px solid rgb(195, 213, 228);
  text-align: center;
  border-radius: 5px;
  font-family: var(--font-text);
  font-size: var(--text-normal-size);
  color: var(--white-text-color);
}

#footer-bottom {
  background-color: rgb(6, 6, 50);
  color: var(--white-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  font-family: var(--font-text);
  font-size: var(--text-normal-size);
  color: var(--white-text-color);
}

.footer-bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#privacy {
  margin: 0 10px;
}